<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Database Test </title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<!-- personal information -->

<h1>Personal Information</h1>

<form action="#" method="post">
    <div class="form-row">
        <!-- first name -->
        <div class="col-7">
            <label for="fname"><b>First name</b></label><br>
            <input class="form-control" type="text" id="fname" name="fname" value="{{ @fname }}"><br>
        </div>

        <!-- privacy policy -->
        <div class="col border bg-light">
            <p>Note: All information entered is protected by our privacy policy.
                Profile information can only be viewed by others with your permisson. </p>
        </div>

        <!-- display error if there is first name error -->
        <div class="col-md-12">
            <check if="{{ isset(@errors['fname']) }}">
                <span class="text-danger">{{ @errors['fname'] }}</span>
            </check>
            <br>
        </div>


        <!-- last name -->
        <div class="col-7">
            <label for="lname"><b>Last name</b></label><br>
            <input class="form-control" type="text" id="lname" name="lname" value="{{ @lname }}"><br>
        </div>

        <!-- display error if there is last name error  -->
        <div class="col-md-12">
            <check if="{{ isset(@errors['lname']) }}">
                <span class="text-danger">{{ @errors['lname'] }}</span>
            </check>
            <br>
        </div>



        <!-- age -->
        <div class="col-7">
            <label for="age"><b>Age</b></label><br>
            <input class="form-control" type="text" id="age" name="age" value="{{ @age }}"><br>
        </div>

        <!-- display error if there is last name error  -->
        <div class="col-md-12">
            <check if="{{ isset(@errors['age']) }}">
                <span class="text-danger">{{ @errors['age'] }}</span>
            </check>
            <br>
        </div>

        <!-- gender male -->

        <div class="container px-3 mt-3">
            <p><b>Gender</b></p><br>

            <div class="form-check form-check-inline">


                <input type="radio" id="male" name="gender" value="male"> <!--we might need to change this to @gender or @male -->
                <label for="male">Male</label><br>
            </div>

            <!-- gender female -->
            <div class="form-check form-check-inline">

                <input type="radio" id="female" name="gender" value="female"> <!--we might need to change this to @gender or @female -->
                <label for="female">Female</label><br>
            </div>
            <!-- non-binary -->
            <div class="form-check form-check-inline">

                <input type="radio" id="nonbinary" name="gender" value="nonbinary"> <!--we might need to change this to @gender or @non binary -->
                <label for="nonbinary">Non-binary</label><br>
            </div>
        </div>

        <!-- display error if there is gender error
        <div class="col-md-12">
            <check if="{{ isset(@errors['gender']) }}">
                <span class="text-danger">{{ @errors['gender'] }}</span>
            </check>
            <br>
        </div>
        -->


        <!-- phone -->
        <div class="col-7">

            <label for="phone">Phone Number</label><br>
            <input class="form-control" type="text" id="phone" name="phone" value="{{ @phone }}"><br>
        </div>

        <!-- display error if there is phone error  -->
        <div class="col-md-12">
            <check if="{{ isset(@errors['phone']) }}">
                <span class="text-danger">{{ @errors['phone'] }}</span>
            </check>
            <br>
        </div>


        <!-- premium membership checkbox -->

        <div class="col-7">
            <p><b>Premium Membership</b></p><br>

            <div class="form-check form-check-inline">
                <input type="checkbox" id="premium" name="premium" value="{{ @premium }}">
                <label for="premium">Sign me up for a Premium Account!(testing)</label><br>
            </div>

            <div class="form-row">

                    <!-- email -->
                    <div class="col-7">
                        <label for="email"><b>Email:</b></label><br>
                        <input  class="form-control" type="email" id="email" name="email"><br>
                    </div>

                    <!-- display error if there is email error  -->
                    <div class="col-md-12">
                        <check if="{{ isset(@errors['email']) }}">
                            <span class="text-danger">{{ @errors['email'] }}</span>
                        </check>
                        <br>
                    </div>

                    <!-- biography -->
                    <label for="biography"><b>Biography</b></label><br>
                    <textarea name="biography" id="biography" cols="50" rows="10"></textarea><br>

                    <!-- where state used to be -->
                    <div class="col-7">
                        <label for="state"><b>State</b></label><br>
                        <select name="state" id="state"  value="{{ @state }}">
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Virginia">Vermont</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select><br>
                    </div>

                    <div class="col-7">
                        <label for="seeking">Seeking</label><br>
                        <input type="radio" id="seeking" name="seeking" value="male">
                        <label for="seeking">Male</label><br>

                        <input type="radio" id="female" name="seeking" value="female">
                        <label for="seeking">Female</label><br>

                    </div>

                    <div class="form-box row mt-3 border">
                        <div class="col-12 p-3">
                            <h1>Interests</h1>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> <b>In-door Interests</b></label>
                                    <div class="col-sm-4">
                                        <label><input type="checkbox" name="interestsIndoor[]" value="tv" >tv</label>

                                        <label><input type="checkbox" name="interestsIndoor[]" value="movies" >movies</label>
                                        <label><input type="checkbox" name="interestsIndoor[]" value="cooking">cooking</label>
                                        <label><input type="checkbox" name="interestsIndoor[]" value="board games">board games</label>
                                    </div><br>

                                    <div class="col-sm-4">
                                        <label><input type="checkbox" name="interestsIndoor[]" value="puzzles">puzzles</label>

                                        <label><input type="checkbox" name="interestsIndoor[]" value="reading">reading</label>
                                        <label><input type="checkbox" name="interestsIndoor[]" value="playing cards">playing cards</label>
                                        <label><input type="checkbox" name="interestsIndoor[]" value="video games">video games</label>
                                    </div><br>

                                </div>

                                <!-- put error message and have it display -->

                                <!-- display error if there is interests error/spoofing  -->
                                <div class="col-md-12">
                                    <check if="{{ isset(@errors['interests']) }}">
                                        <span class="text-danger">{{ @errors['interestsIndoor'] }}</span>
                                    </check>
                                    <br>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><b> Out-door Interests</b></label>
                                    <div class="col-sm-4">
                                        <label><input type="checkbox" name="interestsOutdoor[]" value="hiking">hiking</label>

                                        <label><input type="checkbox" name="interestsOutdoor[]" value="biking">biking</label>
                                        <label><input type="checkbox" name="interestsOutdoor[]" value="collecting">collecting</label>
                                        <label><input type="checkbox" name="interestsOutdoor[]" value="swimming">swimming</label>
                                    </div><br>

                                    <div class="col-sm-4">
                                        <label><input type="checkbox" name="interestsOutdoor[]" value="camping">camping</label>
                                        <label><input type="checkbox" name="interestsOutdoor[]" value="walking">walking</label>
                                        <label><input type="checkbox" name="interestsOutdoor[]" value="climbing">climbing</label>
                                        <label><input type="checkbox" name="interestsOutdoor[]" value="mountaineering">mountaineering</label>
                                    </div><br>

                                    <!-- display error if there is interests error/spoofing  -->
                                    <div class="col-md-12">
                                        <check if="{{ isset(@errors['interests']) }}">
                                            <span class="text-danger">{{ @errors['interestsOutdoor'] }}</span>
                                        </check>
                                        <br>
                                    </div>


                                    <!--Next button-->
                    <div class="col-12">
                        <button class="btn  float-right mt-3 px-3" type="submit">Next ></button>
                    </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>



                    <table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">

</script>



</body>
</html>