<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dinner Date</title>



    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-fixed/">

    <!-- Bootstrap core CSS -->
    <link href="styles/min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/navbar-top-fixed.css" rel="stylesheet">

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<!-- top nav bar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Dinner Date</a>
</nav>
<!-- Main jumbotron  -->
<div>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Dinner Dates For Me!</h1>

        <div class="row">
            <div class="col-md">
                <p><b>Love your date or dinner's on us! That's right you read that correctly, we are confident in our ability to connect you with the right singles or your dinner is on us!</b></p>
                <p>At Dinner Dates For Me, we believe that all good relationship starts with good food! Whether you are looking for a life long partner or something casual, we believe that adding good food will enhance your dating experience!</p>
                <p>Users are matched by food interest, locations and food review score. Simply put if you rate a restaurant 5 stars and your partner also rates the same restaurant 5 stars, your love compatibility score increases and you have a higher chance of picking one another!</p>

                <h2>Food Critics raves about our new fun way to explore new restaurants!</h2>
                <div>
                <p><i>"I love my food almost as much as my first date!" - Sarah</i></p>
                <p><i>"I had an awesome time discovering what a buffalo chicken hamburger was and glad I had a partner to share this joyous meal with!- Tiffany </i></p>
                <p><i>"Very intimate setting, I can't believe I never knew about this restaurant!" - Jasmine</i></p>
            </div>
            </div>
            <div class="col-md">
                <img src="images/date.png" alt="dinner date">
            </div>
        </div>
        <p><a class="btn btn-primary btn-lg" href="personal"  role="button">Create a Profile!</a></p>
        <p><a class="btn btn-primary btn-lg" href="admin"  role="button">Admin Access</a></p>
    </div>
</div>
</div>





</body>
</html>