<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL PART 1</title>
</head>
<body>
<h1>SQL PART 1 WRITE TO THE DATABASE</h1>
<h1>This might work!</h1>

<p>Order ID: {{ @orderId }}</p>
<p>Order: {{ @SESSION.profile->getGender() }} for {{ @SESSION.profile->getState() }}</p>

<div class="form-box row mt-3 border">
    <div class="col-12 p-3">
        <h1> Summary</h1>
        <div class="container border">


            <p>Name: {{ @SESSION.fname}} {{ @SESSION.lname}}</p>
        </div>
        <div class="container border">

            <p>Gender: {{ @SESSION.gender}}</p>
        </div>
        <div class="container border">

            <p>Age: {{ @SESSION.age}}</p>
        </div>

        <div class="container border">


            <p>Phone: {{ @SESSION.phone}}</p>
        </div>


        <div class="container border">


            <p>Email: {{ @SESSION.email}}</p>
        </div>

        <div class="container border">


            <p>State: {{ @SESSION.state}}</p>
        </div>


        <div class="container border">
            <p>Seeking: {{ @SESSION.seeking}}</p>

        </div>
        <check if="{{isset(@errors['interestsIndoor'])}}">
            <div class="container border">

                <p>Interests Indoor: {{ @SESSION.interestsIndoor}}  </p>
            </div>
        </check>

        <check if="{{isset(@errors['interestsOutdoor'])}}">
            <div class="container border">

                <p>Interests Outdoor: {{ @SESSION.interestsOutdoor}}  </p>
            </div>
        </check>

        <div class="container border">


            <p>Biography: {{ @SESSION.bio}}</p>
        </div>

    </div>
</div>





<p><a class="btn btn-primary btn-lg" href="admin"  role="button">Show me the database!</a></p>



</body>
</html>